<p>data-table works!</p>

<button
  class="btn btn-primary"
  [class.active]="isActive"
  [style.backgroundColor]="isActive ? 'blue' : 'white'"
>
  Cancel
</button>
<input type="text" [(ngModel)]="email" (keyup.enter)="onKeyUp()" />
<!-- 
<p-table
  #dataTable
  [value]="providers"
  dataKey="id"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  [globalFilterFields]="[
    'name',
    'country.name',
    'representative.name',
    'status'
  ]"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <p-button
        label="Clear"
        [outlined]="true"
        icon="pi pi-filter-slash"
        (onClick)="clear(dataTable)"
      />
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          [(ngModel)]="searchValue"
          (input)="dataTable.filterGlobal($event.target.value, 'contains')"
          placeholder="Search keyword"
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="min-width: 15rem">
        <div class="flex align-items-center">
          Name
          <p-columnFilter type="text" field="name" display="menu" />
        </div>
      </th>
      <th style="min-width: 15rem">
        <div class="flex align-items-center">
          Country
          <p-columnFilter type="text" field="country.name" display="menu" />
        </div>
      </th>
      <th style="min-width: 15rem">
        <div class="flex align-items-center">
          Agent
          <p-columnFilter
            field="representative"
            matchMode="in"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          >
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">Agent Picker</span>
              </div>
            </ng-template>
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-multiSelect
                [(ngModel)]="value"
                [options]="representatives"
                placeholder="Any"
                (onChange)="filter($event.value)"
                optionLabel="name"
              >
                <ng-template let-option pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <img
                      [alt]="option.label"
                      src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{
                        option.image
                      }}"
                      width="24"
                      class="vertical-align-middle"
                    />
                    <span class="ml-1 mt-1">{{ option.name }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th style="min-width: 10rem">
        <div class="flex align-items-center">
          Date
          <p-columnFilter type="date" field="date" display="menu" />
        </div>
      </th>
      <th style="min-width: 10rem">
        <div class="flex align-items-center">
          Balance
          <p-columnFilter
            type="numeric"
            field="balance"
            display="menu"
            currency="USD"
          />
        </div>
      </th>
      <th style="min-width: 10rem">
        <div class="flex align-items-center">
          Status
          <p-columnFilter field="status" matchMode="equals" display="menu">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-dropdown
                [(ngModel)]="value"
                [options]="statuses"
                (onChange)="filter($event.value)"
                placeholder="Any"
              >
                <ng-template let-option pTemplate="item">
                  <p-tag
                    [value]="option.value"
                    [severity]="getSeverity(option.label)"
                  />
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th style="min-width: 10rem">
        <div class="flex align-items-center">
          Activity
          <p-columnFilter
            field="activity"
            matchMode="between"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          >
            <ng-template pTemplate="filter" let-filter="filterCallback">
              <p-slider
                [(ngModel)]="activityValues"
                [range]="true"
                (onSlideEnd)="filter($event.values)"
                styleClass="m-3"
              />
              <div class="flex align-items-center px-2">
                <span>{{ activityValues[0] }}</span>
                <span>{{ activityValues[1] }}</span>
              </div>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th style="width: 3rem">
        <div class="flex align-items-center">
          Verified
          <p-columnFilter type="boolean" field="verified" display="menu" />
        </div>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-customer>
    <tr>
      <td>
        {{ provider.name }}
      </td>
      <td>
        {{ provider.country.name }}
      </td>
      <td>
        {{ provider.representative.name }}
      </td>
      <td>
        {{ provider.date | date : "MM/dd/yyyy" }}
      </td>
      <td>
        {{ provider.representative.name }}
      </td>
      <td>
        {{ provider.representative.name }}
      </td>
      <td>
        {{ provider.representative.name }}
      </td>
      <td class="text-center">
        {{ provider.representative.name }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No data found.</td>
    </tr>
  </ng-template>
</p-table> -->
