.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;

  .search-accordion {
    flex: 1;
    max-width: 600px;
  }

  .filter-field {
    flex: 1;
    margin-left: auto;
    max-width: 400px; /* Adjust as needed */
  }
}

.card-content {
  margin-bottom: 1rem;
}

table {
  width: 100%;

  tr.mat-mdc-row:hover {
    cursor: pointer;
    background: #b4b4b433;
  }

  .mat-column-name,
  .mat-column-date,
  .mat-column-profession,
  .mat-column-benefit,
  .mat-column-regulatory_bod,
  .mat-column-discipline_type,
  .mat-column-province,
  .mat-column-location,
  .mat-column-note,
  .mat-column-note2 {
    width: 10%;
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 10%;
    overflow-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-name {
    width: 15%;
  }
  .mat-column-date {
    width: 8%;
  }
}
