<mat-accordion class="search-panel">
  <mat-expansion-panel class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>Search</mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>

    <form
      class="search-form-container"
      #form="ngForm"
      (ngSubmit)="onSubmit(form)"
    >
      <mat-form-field appearance="outline">
        <mat-label>Provider Name or Organization</mat-label>
        <input matInput name="name" ngModel />
      </mat-form-field>

      <div class="two-columns-grid">
        <mat-form-field appearance="outline">
          <mat-label>Profession</mat-label>
          <mat-select
            multiple
            ngModel
            name="categories.professions"
            id="profession"
          >
            <mat-option
              *ngFor="let profession of categories.professions"
              [value]="profession.value"
            >
              {{ profession.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Benefits</mat-label>
          <mat-select name="categories.benefits" ngModel multiple>
            <mat-option
              *ngFor="let benefit of categories.benefits"
              [value]="categories.benefits.value"
              >{{ benefit.label }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Discipline Type</mat-label>
          <mat-select name="categories.disciplineType" ngModel multiple>
            <mat-option
              *ngFor="let disciplineType of categories.disciplineTypes"
              [value]="disciplineType.value"
              >{{ disciplineType.label }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Regulatory Body</mat-label>
          <mat-select name="categories.regulatoryBody" ngModel multiple>
            <mat-option
              *ngFor="let regulatoryBody of categories.regulatoryBodies"
              [value]="regulatoryBody.value"
              >{{ regulatoryBody.label }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              name="startDate"
              [ngModel]="startDate"
              placeholder="Start date"
            />
            <input
              matEndDate
              name="endDate"
              [ngModel]="endDate"
              placeholder="End date"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matPrefix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Province</mat-label>
          <mat-select name="categories.province" ngModel multiple>
            <mat-option
              *ngFor="let province of categories.provinces"
              [value]="province.value"
              >{{ province.label }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="action-buttons">
        <button
          mat-stroked-button
          color="secondary"
          type="button"
          [disabled]="!isFormValid(form)"
          (click)="clearAll(form)"
        >
          Clear all
        </button>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!isFormValid(form)"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
